@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d6f9f;
  --secondary-color: #5e60ce;
  --background-color: #0d0d0d;
  --foreground-color: #1a1a1a;
  --primary-text-color: #4ea8de;
  --secondary-text-color: #8284fa;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

:root,
html,
body {
  height: 100%;
  width: 100%;
}
